<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<title></title>
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.0-dist/dist/css/bootstrap.min.css">
</head>
<body ng-controller="myController">

	<!-- <a href="email:" title=""></a>
	<a href="tel:14121212112" title="">8888888</a> -->

<form class="form-horizontal" role="form" name="loginForm">
	<div class="form-group">
	    <label for="username" class="col-sm-2 control-label">用户名</label>
	    <!-- label ==>指向input#username -->
	    <div class="col-sm-10">
	      	<input type="text" class="form-control" ng-minlength="6" ng-maxlength="18" id="username" placeholder="请输入用户名" name="username" ng-model="user.username" required>
	    </div>
  	</div>
  	<div class="form-group">
	    <label for="cellphone" class="col-sm-2 control-label">手机号</label>
	    <div class="col-sm-10">
	      	<input type="tel" class="form-control" id="cellphone" ng-pattern="/^1[3|4|5|7|8][0-9]{9}$/" placeholder="手机号" name="cellphone" ng-model="user.cellphone" required>
	    </div>
  	</div>
  	<div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
	    <div class="col-sm-10">
	      	<input type="text" class="form-control" id="inputEmail3" placeholder="Email" name="email" ng-model="user.email" required>
	    </div>
  	</div>
  	<div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
	    <div class="col-sm-10">
	      	<input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="psd" ng-model="user.psd" required>
	    </div>
 	</div>
  	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      	<button type="submit" class="btn btn-default" ng-click="getUser()" ng-disabled="loginForm.$invalid" >提交</button>
	    </div>
  	</div>

  	<p class="text-danger" ng-show="loginForm.username.$error.minlength">用户名最少6位！</p>
  	<p class="text-danger" ng-show="loginForm.username.$error.maxlength">用户名最多18位！</p>
  	<p class="text-danger" ng-show="loginForm.cellphone.$error.pattern">手机号不正确</p>
</form>


	<script src="../js/jquery.min.js"></script>
	<script src="bootstrap-3.3.0-dist/dist/js/bootstrap.min.js"></script>
	<script src="../js/angular.min.js"></script>
	<script>
		angular.module('myApp', [])

		.controller('myController', ['$scope', function($scope){

		// 表单验证：
		// 1. 给form标签加一个name属性 ，用来区分其他表单
		// 2. 给form表单里面需要验证的输入框也添加name属性
		// 3. 给需要验证的输入框添加required属性 
		// 4. 给需要验证的输入框添加ng-model ,给他们绑定值的时候，不要绑一个变量，应该绑一个对象下的变量

		//验证规则
		// ng-minlength  最小长度  ng-minlength=6
		// ng-maxlength  最大长度 ng-maxlength = 18
		// ng-pattern   正则验证  ng-pattern="正则表达式"

		//如何来写验证规则
		//表单名字.输入框的名字.$error.验证规则  ----> 他们的值是布尔值
		//loginForm.username.$error.minlength 不符合(达不到最小长度)这个规则就是true

		// $valid  验证通过
		// $invalid   验证不通过
		// $dirty  用户填写过了表单
		// $pristine  用户没有开始填写


		//如何来判断整个表单到底是否验证通过
		//表单名字.$valid  该表单验证通过  如果该表单没有验证通过，值就是false    也是一个布尔值 
		//表单名字.需要验证的输入框的名字.$invalid

		$scope.user = {};

			$scope.getUser = function(){
				console.log($scope.user);
			}

		}])
	</script>

</body>
</html>